*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

#main1{
    margin: 0 auto;
    margin-top: 20%;
    text-align: center;
    width: 80%;
    background-color: #d3d3d3;
    font-size: 5vh;
}

#main1 span{
    color: #ff0000;
}

