* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1d606;
}

header {
    z-index: 999;
    background-color: #f1d606;
    position: fixed;
    border-bottom: #000 solid 1px;
    width: 100%;
    height: 10vh;
    position: fixed;
    display: flex;
}

#logo {
    width: 20%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: bottom;
}

h1{
    display: inline;
    font-size: 0;
}

h1 img{
    display: flex;
    width:200px;
}

#menu {
    width: 80%;
    padding-top: 30px;
}

#menu ul {
    display: flex;
}

#menu li {
    display:inline-block;
    width: 400px;
    height: 40px;
    text-decoration: none;
    list-style: none;
    margin:3px;
    text-align: center;
    padding-top: 10px;
    border:1px solid #000;
    background-color: #FFCC00;
}

#menu a {
    display: block;
    text-decoration: none;
    color: #000;
}

#main1{
    padding-top: 10vh;
    width:100%;
    height: 90vh;
}

.slider{
    margin: 0 auto;
    width: 100%;
}
.slider img{
    height: 90vh;
    width: 100%;
    object-fit: cover;
}